.profile__container {
  max-width: 410px;
  margin: 74px auto 0 auto;
}

@media screen and (max-width: 769px) {
  .profile__container {
      margin: 236px auto 269px auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__container {
      max-width: 260px;
      margin: 70px 30px 40px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}