.form-button__button {
    width: 396px;
    height: 45px;
    border: none;
    background-color: #FF6838;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
}

.form-button__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 426px) {
    .form-button__button {
     width: 260px;
     height: 45px;
     font-size: 12px;
    }
  }