.burgerMenu {
    
   width: 100%;
   min-height: 100%;
    
    z-index: 5;
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.3);
    
   
}