.promo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    padding: 82px 0 122px 0;
}

@media screen and (max-width: 769px) {
    .promo__container {
      padding: 224px 0 240px 0;
      
    }
  }

  @media screen and (max-width: 321px) {
    .promo__container {
      min-width: 320px;
      margin: 0;
      padding: 0;
      
    }
  }
  