.movies__box-button-more {
  max-width: 1140px;
  max-height: 36px;
  margin: 50px 70px 80px 70px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 769px) {
    .movies__box-button-more {
        margin: 61px 30px 89px 30px;
    }
  }

  @media screen and (max-width: 321px) {
    .movies__box-button-more {
        margin: 50px 10px 80px 10px;
    }
  }