.project__container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin-top: 70px;
}



@media screen and (max-width: 1071px) {
  .project__container{
  margin-right: 10px;
  }
}

@media screen and (max-width: 1071px) {
  .project__container:last-of-type{
    margin-right: 0;
    
  }
}

@media screen and (max-width: 321px) {
  .project__container{
    flex-direction: column;
    min-width: 284px;
    margin-top: 60px;
    margin-right: 0;
  }
}

@media screen and (max-width: 321px) {
  .project__container:last-of-type{
    flex-direction: column;
    min-width: 284px;
    margin-top: 56px;
    
  }
}