.header__button {
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 32px;
  background-color: #F9F9F9;
  margin: 21px 70px 21px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.header__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 769px) {
  .header__button {
      display: none;
  }
}