.movies__container {
 margin: 70px auto 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 12px;
 font-weight: 500;
 line-height: 1.2;
 max-width: 1140px;
}

@media screen and (max-width: 769px) {
  .movies__container {
    margin: 70px auto 0 auto;
  }
}

@media screen and (max-width: 321px) {
    .movies__container {
      margin: 40px auto 0 auto;
    }
  }